.hundred--projects--page {
    margin-bottom: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hp--title--1 {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-top: 6rem;
    text-align: center;
}

.hundred--description {
    width: 100%;
    margin-bottom: 3.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.hundred--projects--container {
    flex-wrap: wrap;
    gap: 2rem;
}

.construction--img {
    width: 90%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}