.footer {
    margin-top: 4rem;
    gap: 0.5rem;
    background-color: var(--First-color);
    color: var(--Third-color);
    box-shadow: 0 -1px 10px var(--First-color);
}

.location--icon {
    fill: var(--Third-color);
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}