.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Glass-color);
    box-shadow: 0 1px 10px var(--First-color);
    backdrop-filter: blur(5px);
}

.logo--img {
    width: 48px;
}
