@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-Primary-dark: #c9a4f8;
  --color-Secondary-dark: #3399ff;
  --color-Tertiary-dark: #0f1214;
  --color-Fourth-dark: #d3d3d3;
  --color-Fifth-dark: #9e9e9e;
  --color-Sixth-dark: #eaeaea;
  --color-Glass-dark: #0f1214cc;

  --font-Rubik: "Rubik", sans-serif;
  --font-Inconsolata: "Inconsolata", monospace;
}