@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #c9a4f8;
  --color-secondary: #3399ff;
  --color-tertiary: #ffffff;
  --color-fourth: #030712;
  --color-fifth: #6B7280;
  --color-glass: #f1f5f9cc;

  --font-Rubik: "Rubik", sans-serif;
  --font-Inconsolata: "Inconsolata", monospace;
}

.dark {
  --color-primary: #c9a4f8;
  --color-secondary: #3399ff;
  --color-tertiary: #0f1214;
  --color-fourth: #d3d3d3;
  --color-fifth: #9e9e9e;
  --color-glass: #0f1214cc;
}